## Excercise 1

Is x = y = 1 a legal assignment in Python?

In [80]:
x = y = 1
print(x)
print(y)

1
1

What about 42 = n?

In [6]:
n = 1 
n42 = n

Does it make a difference if you write n=100 instead of n = 100?

In [7]:
n=100
n2 = 100

print(n)
print(n2)

100
100

What is the difference between = and == ?

'=' is used to assign values to a variable

'==' is used to compare values

In [9]:
n = 4

n == 5

False

What does the % operator do?

In [10]:
5 % 2 # % is used to calculate the modulus

1

What type is the result, when you multiply a float and an int? What happens when you divide by zero?

In [85]:
x = 4.54 * 3
type(x)

float

In [86]:
102.34 / 0

ZeroDivisionError: float division by zero

How can you calculate the square root using the operator ∗∗?

In [14]:
import math
math.sqrt(4)
4 ** 0.5

2.0

What happens when you type 5.0∗∗1000 ?

In [15]:
5.0 ** 1000 # Python decimals are stored as 64-bit floats, and as such, have finite precision.

OverflowError: (34, 'Numerical result out of range')

In [16]:
5 ** 1000

933263618503218878990089544723817169617091446371708024621714339795966910975775634454440327097881102359594989930324242624215487521354032394841520817203930756234410666138325150273995075985901831511100490796265113118240512514795933790805178271125415103810698378854426481119469814228660959222017662910442798456169448887147466528006328368452647429261829862165202793195289493607117850663668741065439805530718136320599844826041954101213229629869502194514609904214608668361244792952034826864617657926916047420065936389041737895822118365078045556628444273925387517127854796781556346403714877681766899855392069265439424008711973674701749862626690747296762535803929376233833981046927874558605253696441650390625

Convert 7.999999999 to an int

In [90]:
int(7.999999999)

7

Subtract 5 to the 3rd power from 100 and divide the result by 5

In [22]:
4**3

64

In [91]:
(100 - 5 ** 3) / 5

-5.0

Calculate the square root of the imaginary unit j

In [92]:
3.14j ** 0.5

(1.2529964086141667+1.2529964086141667j)

Convert 90 degrees to radians

In [93]:
90 * 3.14159265359/180

1.5707963267950003

In [17]:
#OR
import math

90 * math.pi/180
math.pi

3.141592653589793

Calculate the area of a trapeziod with base1=5, base2=6, height=6

In [19]:
base1 = 5
base2 = 6
height = 6
height * (base1 + base2)/2 
print(base1)
print(base2)
height

5
6

6

In [ ]:
A = ((b1 + b2) * height)/2

# Excercise 2

How does an empty string look like?

In [96]:
string = ''
string

''

Can you multiply an int with a string? Or a string with a float?

In [97]:
string = "hello"
string * 9

'hellohellohellohellohellohellohellohellohello'

In [98]:
string * 1.4

TypeError: can't multiply sequence by non-int of type 'float'

Can you reconvert number in a string into int or float?

In [99]:
string = "4"
int(string)

4

In [100]:
string = "4"
float(string)

4.0

What is the result of "Mississippi".split("i")?

In [101]:
"Mississippi".split("i")

['M', 'ss', 'ss', 'pp', '']

Does the upper method also work with German umlauts ä,ö,ü,ß ?

In [46]:
"München".split("ü")

['M', 'nchen']

# Excercise 3

Create a string that, when indexed by [[3::2]] gives the string 'easter egg'

In [29]:
string = "!!!e!a!s!t!e!r! !e!g!g"
string[3::2]

'easter egg'

If L is a list, what is the difference between L.reverse() and L[::−1]L[::−1] ?

In [67]:
string = ["a","b",1,3,4,5,6]
string[::-1]

[6, 5, 4, 3, 1, 'b', 'a']

In [30]:
string = ["a","b",1,3,4,5,6]
string.reverse()
string

[6, 5, 4, 3, 1, 'b', 'a']

Create a list of empty dictionaries

In [31]:
dic = {}
dic

{}

Can you use numbers as dictionary keys?

In [104]:
dict1 = {1: 'John', 2: 'Peter', 4: 'Adam'}
dict1[1]

'John'

Can you use lists as dictionary keys?

In [103]:
dict2 = {[1,2]: 'John', [3,4]: 'Peter', 5: 'Adam'}

TypeError: unhashable type: 'list'

# Excersice 4

Write a script where the user can input a number. Depending on whether the number is even or odd, print out an appropriate message to the user

In [2]:
num = float(input("Enter a number: "))
if (num % 2) == 0:
    print("{0} is Even".format(num))
else:
    print("{0} is Odd".format(num))

Enter a number: 1.0

ValueError: invalid literal for int() with base 10: '1.0'

Write a program which prints a Fibonnaci sequence of variable length (For example n=7: 1, 1, 2, 3, 5, 8, 13)

In [39]:
def fib(n): 
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1]+fib[i-2])
    print(', '.join(map(str, fib)))
    
fib(7)

0, 1, 1, 2, 3, 5, 8

Given a string, return a new string where the first and last chars have been exchanged

In [40]:
def change_sring(str1):  
    return str1[-1:] + str1[1:-1] + str1[:1]  
            
print(change_sring('abcd'))  
print(change_sring('12345'))

dbca
52341

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

In [41]:
def list123(nums):
    desired = [1, 2, 3]
    if str(desired)[1:-1] in str(nums):
        return True
    return False

list123([1,3,4,5])
list123([1,3,4,1,2,3,5])

True

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [108]:
def ndict(n):
    d={}
    for i in range(1,n+1):
        d[i]=i*i
        print(d)

In [109]:
ndict(8)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Final Excercises

Check if input string is a palindrome. Try to only use constant extra space

In [115]:
def palindrome(string):
    for i in range(len(string)//2):
        if string[i] != string[len(string)-i-1]:
            return False
    return True

palindrome("abba")

True

In [116]:
palindrome("geographie")

False

In [117]:
palindrome("level")

True

Given a string of words separated by spaced, return length of last word. Think of an efficient way to do it for a string with millions of words in it.

In [119]:
def last_word_length(text):
    """Given a string of words separated by spaced, return length of last word."""
    i = len(text)-1
    while i >= 0 and text[i] == ' ':
        i -= 1
    count = 0
    while i >= 0 and text[i] != ' ':
        i -= 1
        count += 1
    return count

last_word_length("")

0

In [121]:
last_word_length("hello")

5

In [120]:

last_word_length("Welcome to python")

6

Write a program which can compute the factorial of a given number.

In [122]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))

4
24

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [125]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

anna, martin, zoe, lina, rebekka
 lina, martin, rebekka, zoe,anna

Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [126]:
def printList():
    li=list()
    for i in range(1,21):
        li.append(i**2)
    print(li)
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Make a two-player Rock-Paper-Scissors game.

In [127]:
user_one = input("Name of player one:")
user_two = input("Name of player two:")
while True:
    # Input 
    try:
        user_one_answer = int(input("{}, Please input your choice:\n1.Rock\n2.Scissors\n3.Paper\n".format(user_one)))
        user_two_answer = int(input("{}, Please input your choice:\n1.Rock\n2.Scissors\n3.Paper\n".format(user_two)))
        # Check input
        if user_one_answer not in range(1,4) or user_two_answer not in range(1,4):
            print("Input outrange")
            continue
    except:
        print("Input error.")
        continue
    # Compare
    if user_one_answer + 1 == user_two_answer or user_one_answer - 2 == user_two_answer:
        print("{} win!".format(user_one))
    elif user_one_answer == user_two_answer:
        print("Draw.")
    else:
        print("{} win!".format(user_two))
    # Start a new game
    try:
        if int(input("Input number 1 to star a new game, or any to exit.")) == 0:
            break
    except:
        print("Input error. Exit the game.")
        break

Name of player one:1
Name of player two:2
1, Please input your choice:
1.Rock
2.Scissors
3.Paper
1
2, Please input your choice:
1.Rock
2.Scissors
3.Paper
2
1 win!
Input number 1 to star a new game, or any to exit.f
Input error. Exit the game.